.user-image-profile{
    width: 40px;
    height: 40px;
    border-radius: 500px;
}
.header-menu-item a{
    text-decoration: none;
    color: #121212;
    margin-left: 12px;
    font-size: 19px;
}
.header-menu-item a:hover{
    text-decoration: underline;
    color: rgb(246, 134, 6);
}
.header-menu-item  .active{
    color: rgb(246, 134, 6);
    font-size: 20px;
}
.footer-my-name{
    text-decoration: none;
    color: rgb(246, 134, 6);
}
.footer-my-name:hover{
    text-decoration: underline;
    color:#121212
}
.footer-icon-color{
    color: #121212;
}
.footer-clicked-icon:hover{
    color: rgb(246, 134, 6);
    cursor: pointer;
}